html {
    background-color: black;
}

header {
    color: rgb(0, 255, 0);
    border: 3px solid rgb(0, 255, 0);
}

a {
    text-decoration: none;
}

.menu-header {
    color:rgb(0, 255, 0);
    border: 3px solid rgb(0, 255, 0);
}

.menu-item {
    color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
}

.contact-item {
    background-color: rgb(255, 255, 255);
}

.post {
    color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
}



@media (max-width: 1000px) {
    header {
        border: 10px solid rgb(0, 255, 0);
    }

    .menu-header {
        border: 6px solid rgb(0, 255, 0);
    }

   .menu-item {
        border: 2px solid rgb(0, 255, 0);
    }
 
    .contact-item {
        border: 2px solid rgb(0, 255, 0);
    }

    .post {
        border: 2px solid rgb(0, 255, 0);
    }
}