html {
    background-size: cover; 
    background:
      conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#abc9b1 0 120deg,#0000 0),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#72ab9d 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#8bb394 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#8bb394 0 120deg,#0000 0),
      conic-gradient(from -180deg at calc(100%/3) 50%,#72ab9d  60deg,#8bb394 0 120deg,#0000 0),
      conic-gradient(from 60deg at calc(200%/3) 50%,#8bb394  60deg,#abc9b1 0 120deg,#0000 0),
      conic-gradient(from -60deg at 50% calc(100%/3),#8bb394 120deg,#72ab9d 0 240deg,#abc9b1 0);
    background-size: 104px 60px;
}

header {
    background: #ffc907;
    color: #c62027;
    border: 10px double #c62027;
}

a {
    text-decoration: none;
}

.avatar {
    border: 15px ridge #a4722d;
}

.menu-header {
    color:#c62027;
    background-color: #ffc906;
    border: 3px solid #c62027;
}

.menu-item {
    color: black;
    background-color: #fff9df;
    border: 2px solid #000000;
}

.unavailable {
    background-color: #9b2828;
}

.contact-item {
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
}

.post {
    color: #000000;
    background-color: #fff9df;
    border: 1px solid #ffd186;
}



@media (max-width: 1000px) {
    header {
        border: 20px double #c62027;
    }

    .avatar {
        border: 30px ridge #a4722d;
    }   

    .menu-header {
        border: 6px solid #c62027;
    }

   .menu-item {
        border: 4px solid #000000;
    }
 
    .contact-item {
        border: 4px solid #000000;
    }

    .post {
        border: 2px solid #ffd186;
    }
}