.cube-container {
    perspective: 800px;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 50px auto;
}

.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(0deg);
    transition: transform 0.1s ease-out;
}

.cube-face {
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
}

.cube-face.front {
    width: 200px;
    height: 300px;
    background: #154900;
    transform: translateZ(15px) translateX(50px);
    border: 2px solid #113d00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-face.back {
    width: 200px;
    height: 300px;
    background: #154900;
    border: 2px solid #113d00;
    transform: rotateY(180deg) translateX(-50px) translateZ(15px);
}

.cube-face.left {
    width: 30px;
    height: 300px;
    background: #fff0c7;
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(235px);
}

.cube-face.right {
    width: 30px;
    height: 300px;
    background: #154900;
    border: 2px solid #113d00;
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(-35px);
}

.cube-face.top {
    width: 200px;
    height: 30px;
    background: #fff0c7;
    transform: rotateX(90deg) translateX(50px) translateY(0px) translateZ(15px);
}

.cube-face.bottom {
    width: 200px;
    height: 30px;
    background: #fff0c7;
    transform: rotateX(-90deg) translateX(50px) translateY(0px) translateZ(285px);
}