@font-face {
    font-family: HeaderFont;
    src: url('media/fonts/Natasha.ttf');
}

@font-face {
    font-family: TextFont;
    src: url('media/fonts/Spectral-Regular.ttf');
}

header {
    font-family: 'HeaderFont';
    font-size: 4em;
}

.menu-header {
    font-family: 'HeaderFont';
    font-size: 2em;
}

.menu-item {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

.post {
    font-family: 'Courier New', Courier, monospace;
    font-size:1.3em;
}