header {
    text-align: center;
    position: static;
    padding: 25px 10px 10px;
}

.content {
    max-width: 1000px; /* максимальная ширина блока */
    margin: 0 auto;    /* центрирование горизонтально */
    display: flex; /* Делает DIV-ы половинки */
}

.left-panel {
    max-width: 500px; /* Половина от 1000 (максимальной ширины content) */
    flex: 1; /* Делает DIV-ы половинки */
}

.avatar-container {
    text-align: center;
}

.avatar {
    margin: 20px;
    height: 300px;
    width: 300px;
}

.menu-header {
    margin: 10px;
    padding: 20px;
    padding-top: 25px;
    text-align: center;
}

.menu-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.contacts-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(65px, 65px));
    justify-content: center;
    justify-items: center;
    margin: 5px;
}

.contact-item {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.contact-item img {
    width: 40px; 
    height: 40px;
}


.right-panel {
    max-width: 500px; /* Половина от 1000 (максимальной ширины content) */
    flex: 1; /* Чтобы сделать DIV-ы половинки */
}

.post {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}



@media (max-width: 1000px) {

    .content {
        display: block;
    }

    .left-panel {
        max-width: 100%;
        margin: 0 auto;    /* центрирование горизонтально */
    }

    .right-panel {
        max-width: 100%;
        margin: 0 auto;    /* центрирование горизонтально */
    }


}