body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    position: static;
    top: 0;
    padding: 3px 16px;
    background: #555;
    color: #f1f1f1;
    z-index: 100;
}

.container {
    display: flex;
    height: 150vh;
    flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
    position: relative;
    z-index: 1;
}

.side-panel {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.side-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(65px, 65px)); /* Auto-adjust columns */
    justify-content: center; /* Center-aligns grid items horizontally */
    justify-items: center; /* Centers each item within its grid cell */

}

.side-item {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s; /* Animation for hover effect */
}

.side-item img {
    width: 40px;
    height: 40px;
}

.side-item:hover {
    transform: scale(1.04); /* Slightly enlarge on hover */
}

.avatar-img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(255, 255, 255);
}

.content-panel {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}

.content-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); !* Auto-adjust columns *!*/
    gap: 16px; /* Space between cards */
    padding: 20px;
}

.content-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s; /* Animation for hover effect */
}

.content-item:hover {
    transform: scale(1.01); /* Slightly enlarge on hover */
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    .container {
        flex-direction: column; /* Stack side panel and content panel vertically */
        flex-wrap: nowrap;
    }

    .side-panel, .content-panel {
        width: 100%; /* Both panels take full width */
        margin: 0; /* Reset any margins */
        padding: 20px; /* Apply consistent padding */
        box-sizing: border-box; /* Include padding in the element's total width */
    }

}