body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('carpet.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.language-switcher {
    /* border: 2px solid rgb(0, 255, 234); */
    height: 60px;
    background-color: rgb(243, 243, 238);

}


.personal-container {
    /* border: 2px solid rgb(255, 0, 0);  */
    display: flex; 
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    margin: 50px;
}

.avatar-container {
    /* border: 2px solid rgb(0, 0, 0);  */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info-container {
    text-align: center;
    /* border: 2px solid rgb(166, 0, 19);  */
    border-radius: 20px;
    background-color: rgb(243, 243, 238);
    flex: 4;
}

/* On smaller screens, stack the avatar on top of the personal info */
@media (max-width: 900px) {
    .avatar-container, .personal-info-container {
        flex: 100%; /* Make them take 100% width on small screens */
    }
}

.framed-avatar {
    /* border: 2px solid rgb(234, 255, 0); */
    position: relative;
    width: 300px;
    height: 300px;
}

.avatar-img {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 50%; */
    /* box-shadow: 0px 0px 55px 55px rgb(0, 0, 0); */
}

.frame-img {
    /*border: 2px solid rgb(21, 255, 0);*/
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}

.about-me {
    /*border: 2px solid rgb(255, 0, 247);*/
    margin: 15px;
    text-align: left;
}

.technologies-container {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}

.experience-container {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}

.contacts-container {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}

.footer {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}