/* body {
    margin-bottom: 100px;
} */

header {
    position: static;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 600px; /* максимальная ширина блока */
    margin: 0 auto;    /* центрирование горизонтально */
}

.content {
    max-width: 600px; /* максимальная ширина блока */
    margin: 0 auto;    /* центрирование горизонтально */
    display: flex; /* Делает DIV-ы половинки */
}

.left-panel {
    max-width: 300px;
    flex: 1; /* Делает DIV-ы половинки */
}

.menu-header {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.right-panel {
    max-width: 300px;
    flex: 1; /* Чтобы сделать DIV-ы половинки */
}


@media (max-width: 1000px) {

    .content {
        display: block;
    }

    .left-panel {
        max-width: 100%;
        margin: 0 auto;    /* центрирование горизонтально */
    }

    .right-panel {
        max-width: 100%;
        margin: 0 auto;    /* центрирование горизонтально */
    }

}