h1 {
    text-align: center;
    position: static;
    max-width: 1000px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-title {
    text-align: center;
    padding: 15px;
    max-width: 200px;
    margin: auto;
}

.section-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centers items horizontally */
    gap: 20px;               /* spacing */
    padding: 20px;
}


.drawing {
    width: 260px;
    height: 260px;
    object-fit: cover;
}