@font-face {
    font-family: TextFont;
    src: url('../../../media/fonts/Spectral-Regular.ttf');
}

.page h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}

.content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}


@media (max-width: 1000px) {

    .page h1 {
        font-size: 5em;
    }

    .content {
        font-size: 3em;
    }
}