@font-face {
    font-family: TextFont;
    src: url('../../../media/fonts/Spectral-Regular.ttf');
}

.page h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-size: 40px;
}

.content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
    /* font-family:Arial, Helvetica, sans-serif */

}
