html {
  background-color: rgb(235, 235, 235);
  color: rgb(55, 55, 55);
}

a {
  text-decoration: none;
  color: rgb(122, 122, 122);
}

a:hover {
  color: rgb(80, 80, 80);
}

header a {
  color: rgb(20, 20, 20);
}