/* body {
  font-family: sans-serif;
} */

header {
  padding-top: 25px;
  padding-left: 10px;
}

.page {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.info-item {
  justify-content: space-between;
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

.info-item-line {
  top: 13px;
  border-color: #a8a8a8;
  border-top-width: 1px;
  border-top-style: solid;
  left: calc(var(--spacing) * 0);
  width: 100%;
  position: absolute;
}

.info-item > div:not(.info-item-line) {
  background: rgb(235, 235, 235);      /* перекрывает линию */
  padding: 0 0.5em;
  position: relative;
  z-index: 1;
}