body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('carpet.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.language-switcher {
    height: 60px;
    background-color: rgb(243, 243, 238);
}

.personal-container {
    display: flex; 
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    margin: 50px;
}

.avatar-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info-container {
    background-color: rgb(243, 243, 238);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    flex: 4;
}

.personal-info-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* On smaller screens, stack the avatar on top of the personal info */
@media (max-width: 900px) {
    .avatar-container, .personal-info-container {
        flex: 100%; /* Make them take 100% width on small screens */
    }
}

.framed-avatar {
    position: relative;
    width: 300px;
    height: 300px;
}

.avatar-img {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(255, 255, 255);
}

.frame-img {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}

.about-me {
    margin: 15px;
    text-align: left;
}

.technologies-container {
    border: 5px solid rgb(245, 255, 134);
    background-color: rgb(55, 117, 67);
    height: 250px;
    margin: 50px;
    border-radius: 20px;
    text-align: center;
    color: rgb(245, 255, 134);
}

.experience-container {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}

.contacts-container {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}

.footer {
    border: 2px solid rgb(255, 0, 247);
    height: 250px;
}