@font-face {
    font-family: HeaderFont;
    src: url('../../media/fonts/Xanmono-Regular.otf');
}

.page h1 {
    font-family: 'HeaderFont';
    font-size: 4em;
}

.content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
