body {
  padding: 25px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.page {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  margin-top: 50px;
}

.image {
  max-height: 100%; 
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}