html {
  --s: 100px; /* control the size*/
  --c1: #f8edd1;
  --c2: #ca88d7;
  --c3: #af79aa;
  
  --c:#0000 48%,var(--c1) 0 52%,#0000 0;
  background:
    linear-gradient(-45deg,var(--c)),linear-gradient( 45deg,var(--c)),
    repeating-conic-gradient(from 45deg,var(--c2) 0 25%,var(--c3) 0 50%);
  background-size: var(--s) var(--s);
}

a {
  text-decoration: none;
}

.page {
  background-color: #fffdf4;
  border: 1px solid #ffe9c3;
}

.page h1{
  color: #937a9a;
}

.framed {
  border: 2px solid black;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

/* .coverflow {
    border: 2px solid black;
} */

.coverflow-label-box {
    color: black;
}

.desc-card {
    background: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}