html {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



a {
  text-decoration: none;
}

.page {
  background-color: #fffdf4;
  border: 1px solid #ffe9c3;
}

.page h1{
  color: #b072c2;
}

.framed {
  border: 2px solid black;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

.page {
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
}

.coverflow-label-box {
  color: black;
}

.desc-card {
  background: #ffffff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

desc-card img {
  background-color: #b072c2;
  border: 2px solid black;
}

/* Hide scroll */
.coverflow {
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

/* Hide scroll */
.coverflow::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}