@font-face {
    font-family: HeaderFont;
    src: url('../../media/fonts/Xanmono-Regular.otf');
}

@font-face {
    font-family: CoverFont;
    src: url('../../media/fonts/MYRIADPRO-REGULAR.OTF');
}

.page h1 {
    font-family: 'HeaderFont';
    font-size: 5em;
}

.coverflow-label-box {
    font-family: 'CoverFont';
    font-size: 1.5em;
}

.desc-card {
    font-family: 'CoverFont';
    font-size: 1.5em;
}
