body {
  padding: 25px;
  font-family: sans-serif;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.page h1 {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.content {
  margin-top: 20px;
}


.coverflow-parent {
  height: 260px;
  position: relative;
  overflow: visible;
  display: block !important;
  text-align: initial !important;
}

.image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.coverflow {
  margin: 0 auto;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.coverflow-label-box {
  position: absolute;
  bottom: 10px;
  width: 180px;
  text-align: center;
}

.desc-card {
  margin: 40px auto 0 auto;
  max-width: 800px;
  padding: 20px 25px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1000px) {

  .image {
    max-width: 80%;
  }
}