body {
  padding: 25px;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.page h1 {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.content {
  margin-top: 20px;
}


.coverflow-parent {
  height: 260px;
  position: relative;
  overflow: visible;
  display: block !important;
  text-align: initial !important;
}

.image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* .coverflow {
  margin: 0 auto;
  margin-top: 50px;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding-top: 60px;
} */

.coverflow {
  margin: 0 auto;
  margin-top: 50px;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding-top: 60px;

  position: relative;        /* Needed */
  overflow-y: hidden;        /* Prevent label moving vertically */
}

.coverflow-label-box {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  margin-top: 350px;
}

.desc-card {
  margin: 200px auto 0 auto;
  max-width: 800px;
  padding: 20px 25px;
}

@media (max-width: 1000px) {

  .image {
    max-width: 80%;
  }
}