html {
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Text colors */

.text-color-1 { color: rgb(20, 20, 20); }
.text-color-2 { color: rgb(55, 55, 55); }
.text-color-3 { color: rgb(80, 80, 80); }
.text-color-4 { color: rgb(122, 122, 122); }


/* Text hover colors */

.hover-text-color-1:hover { color: rgb(20, 20, 20); }
.hover-text-color-2:hover { color: rgb(55, 55, 55); }
.hover-text-color-3:hover { color: rgb(80, 80, 80); }
.hover-text-color-4:hover { color: rgb(122, 122, 122); }

